@import "../_import.scss";

.home{
    @include page;
    background-color:$bg-darkblue;
    // height: 1px;
    &__bgimg{
        transform: translate(-10%, -20%);
        opacity: 0.5;
        width: 70vw;
    }
    &__content{
        color: $text-white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include child_margin_vert(0.5em);
    }
    &__desc{
        font-size: $font-size-subtitle;
        width: Max(50%, 300px);
        margin-inline: auto;
    }
    &__title{
        font-size: $font-size-title;
        width: 50%;
        margin-inline: auto;
    }
    &__bar{
        @include inputbar(Max(40%, 200px));
        margin-inline: auto;
    }
}
