@import "../_import.scss";

.login-page{
    height:100vh;
    width:100%;
    background-color:#111111;
    overflow: hidden;
    position: relative;
}

.background-image {
    /* Might need change for moving image to the right */
    position: absolute;
    top: 400px;
    right: 400px;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: auto;
    opacity: 0.5;
    z-index: 1;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 1;
}

.login-box{
    background-color: #212328;
    /* width:609px; */
    width: 500px;
    height: 405px;
    border-top: 4px solid #5865F2;
    border-radius: 5px;
    top:40%;
}

.login-title{
    position: absolute;
    top:15%;
    color: white;
    transform: translate(-50%, -50%);
    left:50%;
    font-size: 20px;
}

.login-form{
    position: absolute;
    /* padding-left:17%;
    padding-right: 17% ; */
    top:51%;
    width:80%;
    height: 70%;
    transform: translate(-50%, -50%);
    left:50%;
}

.login-text-1{
    position: absolute;
    color: white;
    top:10%;
}

.login-email{
    width: 100%;
    height: 43px;
    position: absolute;
    color: white;
    top:26%;
    transform: translate(-50%, -50%);
    left:50%;
    background-color: #3D414A;
    border: 0;
    outline: none;
    caret-color: white;
}

.login-email:focus{
    background-color: #3D414A;
    color: white;
}

.login-text-2{
    position: absolute;
    color: white;
    top:40%;
}

.login-password{
    width: 100%;
    height: 43px;
    position: absolute;
    color: white;
    top:56%;
    transform: translate(-50%, -50%);
    left:50%;
    background-color: #3D414A;
    border: 0;
    caret-color: white;
    color: white;
}

.login-password:focus{
    background-color: #3D414A;
    color: white;
}

.login-text-3{
    position: absolute;
    color: white;
    top:65%;
    left:4%;
}

.login-remember{
    position: absolute;
    top:67.5%;
}

.login-text-4{
    position: absolute;
    color: #0E87C6;
    top:65%;
    right:0%;
    text-decoration: none;
}

.login-submit{
    position: absolute;
    color: white;
    background-color: #5865F2;
    border: 0;
    top:85%;
    height: 43px;
}

.login-text-5{
    position: absolute;
    color: white;
    top:89%;
    transform: translate(-50%, -50%);
    left:41%;

}
.login-text-6{
    position: absolute;
    color: #0E87C6;
    top:89%;
    transform: translate(-50%, -50%);
    left:60%;
    text-decoration: none;
}