<link
  href="{{url_for('static', filename='css/layouts/footer.css')}}"
  rel="stylesheet"
/>
<footer
  class="footer"
>
  <div class="footer__text">© 2022 Trackery Inc</div>
  <div class="footer__logocontainer">
    <a class="footer__logo" href="https://www.facebook.com/">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
    <a class="footer__logo" href="https://twitter.com/">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a class="footer__logo" href="https://www.instagram.com/">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
</footer>
