{% extends "base.html" %} {% block content %}
<script>
  $(document).ready(function () {
    $("#search").on("submit", function (event) {
      var inputValue = $('input[name="query"]').val();
      if (inputValue.trim() === "") {
        event.preventDefault();
      }
    });
  });
</script>

<link
  href="{{url_for('static', filename='css/layouts/home.css')}}"
  rel="stylesheet"
/>
<div class="home">
  <img
    src="{{url_for('static',filename='images/Home-icon.png')}}"
    class="home__bgimg"
  />

  <div class="home__content">
    <div class="home__title">Welcome to Trackery</div>
    <div class="home__desc">
      A place to track your favorite item, compare it to other website and
      predict it's future price
    </div>

    <!-- Change the 'home' to the wip search, this will enable basicly search without pressing submit button -->
    <!-- currently doesnt have any sort of protection against something like SQLInjection,will need further improvement and standardization -->
    <form
      id="search"
      class="home__barcontainer"
      action="{{url_for('search')}}"
      method="GET"
    >
      <input
        type="text"
        name="query"
        class="home__bar"
        placeholder="Start your Journey"
      />
    </form>
  </div>
</div>
{% endblock %}
